body {
  padding: 0;
  margin: 20px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header {
  display: flex;
  border-bottom: solid seashell 1px;
  background-color: black;
  padding: 10px;
  width: 100%;
  height: 69px;
  position: fixed;
  z-index: 20;
  margin-top: -20px;
}

#logo {
  display: flex;
  flex: 1;
}

#logo-img {
  height: 50px;
  margin-left: 10px;
}

nav {
  display: inline-block;
  color: white;
  padding-right: 15px;
}

li {
  display: inline-block;
  text-decoration: underline;
}

#mainImage {
  display: flex;
  background-image: url("../main-background.jpg");
  height: 700px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  width: 1200px;
  flex: 1 0;
  margin: 20px;
}

#mainImageText {
  background-color: black;
  width: 1200px;
  text-align: center;
  flex: 1 0;
  margin: auto;
}

#month {
  display: flex;
  position: relative;
  top: 100px;
  justify-content: space-around;
}

#monthText {
  width: 1000px;
  position: relative;
  top: 100px;
}

.productLine{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  top: 100px;
}


#productSpecs {
  display: flex;
  flex-direction: column;
}

#productImage {
  display: flex;
  width: 300px;
  height: 200px;
  margin: 10px;
}

#locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1 0 100%;
  position: relative;
  top: 100px;
  background-image: url("../locations-background.jpg");
  background-size: contain;
  height: 500px;
  margin: 20px;
}

#locationsHeadline {
  display: flex;
  flex: 1 0 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 75px;
  font-size: 28px;
}

.locationBox {
  margin: 15px 20px;
  background-color: black;
  width: 300px;
  opacity: 1;
  line-height: 40px;
}

footer {
  position: relative;
  top: 100px;
  height: 200px;
  margin: 20px;
  width: 100%;
}


#copyright {
  text-align: left;
  width: 100%;
  position: relative;
  top: 80px;
}
